<div *ngIf='this.showForm==="FORGOT_NEW_PASSWORD_FORM"' class="simple-form-section">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4 style="margin-top: 1em;">Set new password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotPasswordNewPasswordForm" (ngSubmit)="setNewPassword()">
                        <div class="form-group row">
                            <div class="form-group row justify-content-center" style="margin-top: 1%;">
                                <label for="newPassword" class="col-md-4 col-form-label text-md-right"
                                    style="text-align: center;">New
                                    password:</label>
                                <div class="col-md-6">
                                    <input type="password" [formControlName]="'newPassword'" id="newPassword"
                                        class="form-control" name="newPassword" required placeholder="New password"
                                        minlength="6" maxlength="45">
                                    <span class="invalid-validation-field"
                                        *ngIf="!forgotPasswordNewPasswordForm.get('newPassword')?.valid && forgotPasswordNewPasswordForm.get('newPassword')?.touched">Please
                                        provide a valid password with minimum of 6 characters.</span>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center" style="margin-top: 1%;">
                                <label for="newPasswordConfirmation" class="col-md-4 col-form-label text-md-right"
                                    style="text-align: center;">Confirm new
                                    password:</label>
                                <div class="col-md-6">
                                    <input type="password" [formControlName]="'newPasswordConfirmation'"
                                        id="newPasswordConfirmation" class="form-control" name="newPasswordConfirmation"
                                        required placeholder="New password confirmation" minlength="6" maxlength="64">
                                    <span class="invalid-validation-field"
                                        *ngIf="!forgotPasswordNewPasswordForm.get('newPasswordConfirmation')?.valid && forgotPasswordNewPasswordForm.get('newPasswordConfirmation')?.touched">Please
                                        provide a matching password confirmation.</span>
                                    <br>
                                    <span class="invalid-validation-field"
                                        *ngIf="forgotPasswordNewPasswordForm.hasError('passwordNotMatching')">Passwords
                                        do not match.</span>
                                </div>
                            </div>
                            <span class="flex-center-container" style="margin-top: 1em;">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="forgotPasswordNewPasswordForm.invalid">
                                    Set new password
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='this.showForm==="FORGOT_PASSWORD_EMAIL_FORM"' class="simple-form-section">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4 style="margin-top: 1em;">Send link for setting new password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotPasswordEmailForm" (ngSubmit)="requestPasswordResetCode()">
                        <div class="form-group row justify-content-center" style="margin-top: 1%;">
                            <label for="email" class="col-md-4 col-form-label text-md-right"
                                style="text-align: center">E-Mail Address:</label>
                            <div class="col-md-6">
                                <input type="email" id="email" class="form-control" [formControlName]="'email'"
                                    name="email" required autofocus placeholder="example@mail.com" maxlength="45">
                                <span class="invalid-validation-field"
                                    *ngIf="!forgotPasswordEmailForm.get('email')?.valid && forgotPasswordEmailForm.get('email')?.touched">Please
                                    provide a valid email.</span>
                            </div>
                            <div class="flex-center-container" style="margin-top: 1em;">
                                <span class="invalid-validation-field-main">{{this.resultText}}</span>
                            </div>
                            <span class="flex-center-container" style="margin-top: 1em;">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="forgotPasswordEmailForm.invalid">
                                    Send password reset email
                                </button>
                                <span style="padding-left: 1em;align-self: center;">Or <a routerLink="/login">Log
                                        In</a></span>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='this.showForm=="FORGOT_PASSWORD_TOKEN_STATUS"' class="simple-form-section">
    <div class="row justify-content-center">
        <div class="col-md-6 card token-result-section">
            <h1 class="display-4 text-center"><b>{{this.resultText}}</b></h1>
            <span class="flex-center-container" style="margin-top: 1em;">
                <p style="margin-right: 1em;margin-top: 1em;">Something went wrong?</p>
                <button type="submit" class="btn btn-primary" (click)="requestNewPasswordResetCode()">
                    Send new password reset email
                </button>
            </span>
        </div>
    </div>
</div>