<div class="d-flex align-items-center justify-content-center" style="background-color: lightgray;padding-top: 15em;padding-bottom: 15em;">
  <div class="text-center">
      <h1 class="display-1 fw-bold">403</h1>
      <p class="fs-3"> <span class="text-danger">Access denied.</span></p>
      <p class="lead">
          You don't have the access to view the page you're trying to see.
          If you think this is a mistake contact site administrator. 
        </p>
      <a routerLink="/" class="btn btn-primary">Go Home</a>
  </div>
</div>