<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Password reset request email</title>
</head>
<body>
    <h2 style="text-align: center">Please use the link below to set a new password for your account.</h2>
    <h3 style="text-align: center">This link will be valid for 15 minutes only and after that you will need to ask for the new password reset link.</h3>
    <br/>
    <div style="text-align: center">
        <a th:href="${message}">Password reset link</a>
    </div>
    <br/>
    <h3 style="text-align: center">Your Reviewer team</h3>
    <br/>
</body>
</html>