<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" id="mainNav">
  <div class="container px-3">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/angular.svg" alt="Logo" width="70" height="60" class="d-inline-block align-text-center">
      {{this.appName}}
    </a>
    <div *ngIf="this.account !== null" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{this.account.username}}
      </button>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <a *ngIf="this.account.authorities.includes('ROLE_ADMIN')" class="dropdown-item pointer-cursor"
          routerLink="/admin/main-panel">Admin panel</a>
        <a class="dropdown-item pointer-cursor" routerLink="/account/profile">Profile</a>
        <a class="dropdown-item pointer-cursor" (click)="logout()">Logout</a>
      </div>
    </div>

    <button *ngIf="this.account === null" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div *ngIf="this.account === null" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a routerLink="/signup" class="nav-link btn btn-primary"
            style="margin:5px;color:white">Signup</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link btn btn-primary"
            style="margin:5px;color:white">Login</a></li>
      </ul>
    </div>
  </div>
</nav>